<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
   <add key ="userName" value="one-serve update =>fuwuqide xiugia 服务器修改 6 服务器 7"  />
   <add key ="password" value ="pass  this is  passwor d 服务器修改 6" />
   <add key ="Department" value ="depart epart 服务器修改 5 本地修改 5" />
   <add key ="returnValue" value ="return 本地修改 5" />
   <add key ="pwdPattern" value ="pwd" />
   <add key ="pwdPat22tern" value ="pwd"  />
   <add key ="userPattern" value ="pat" />
   <add key ="returnVal22ue" value ="return bendi xiugai  修改" />
   <add key ="returnVal22ue" value ="return bendi xiugai 服务器 22222222222 " />
   <add key ="returnVal22ue" value ="return bendi xiugai 服务器 bendi " />
</appSettings>
</configuration>
