<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
   <add key ="userName" value="one-serve update =>fuwuqide xiugia " />
   <add key ="password" value ="pass" />
   <add key ="Department" value ="depart" />
   <add key ="returnValue" value ="return" />
   <add key ="pwdPattern" value ="pwd" />
    <add key ="pwdPat22tern" value ="pwd" />
   <add key ="userPattern" value ="pat" />
</appSettings>
</configuration>
