<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
   <add key ="userName" value="one-serve update =>fuwuqide xiugia " />
   <add key ="password" value ="pass  this is  passwor d " />
   <add key ="Department" value ="depart" />
   <add key ="returnValue" value ="return" />
   <add key ="pwdPattern" value ="pwd" />
   <add key ="pwdPat22tern" value ="pwd"  服务器修改 333333 />
   <add key ="userPattern" value ="pat"  五福临门  S4/>
   <add key ="returnVal22ue" value ="return bendi xiugai  修改" />
   <add key ="returnVal22ue" value ="return bendi xiugai 服务器 22222222222 " />
</appSettings>
</configuration>
